fastapi
uvicorn
python-dotenv
pydantic
pendulum
polars
psycopg[binary]
asyncpg
aiosql
migra[pg]
sqlbag
contextlib2
fitbit
withings-api
python-jose[cryptography]
openrouteservice
fastapi-jwt-auth
geopy
aiofiles
gpxpy
schedule
azure-identity
azure-storage-blob
Pillow
staticmap
googlemaps
httpx
colorhash
