-c requirements.txt
black
flake8
flake8-debugger
flake8-print
ipykernel
isort
mypy
pre-commit
relint
ward
coverage
async-asgi-testclient
urllib3
requests
testcontainers[postgresql]
nest-asyncio
freezegun
types-freezegun
sqlfluff
