fastapi
uvicorn
python-dotenv
pydantic
pendulum
aiosql
migra[pg]
sqlbag
databases[postgresql]
contextlib2
fitbit
withings-api
python-jose[cryptography]
openrouteservice
fastapi-jwt-auth
geopy
aiofiles
